.card__container{
	position: relative;
	border-radius: 10px;
	width: 290px;
	height: 290px;

	display: flex;
	overflow: hidden;
	margin-top: 10px;
}

.card__img{
	min-width: 100%;
	min-height: 100%;
	object-position: top;
	object-fit: cover;
	transition: filter .5s;
}

.card__img:hover{
	filter: brightness(.7);
}
