.card-label__container{
	position: absolute;
    top: 15px;
    transform: rotate(25deg);
    right: -50px;
}

.card-label__content{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #292929;
	color: #eaf1f3;
	font-size: 12px;
	font-family: 'Segoe UI';
	font-weight: 500;
	height: 20px;
	padding: 0px 100px;
}
